/***FONT-FAMILY***/
/*font-family: "Hind Guntur", sans-serif; */
/*font-family: "Yanone+Kaffeesatz", sans-serif;*/
/*font-family: "Yrsa", serif;*/

h1 {
  font-family: "Hind Guntur", sans-serif;
  font-size: 4rem;
}
h2 {
  font-family: "Hind Guntur", sans-serif;
  font-size: 2rem;
}
h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2rem;
  letter-spacing: 25px;
}

h4 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 5px;
}
h5 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 10px;
  color: #123deb;
  font-size: 3rem;
  text-align: center;
}

h6 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 10px;
  color: #ffff;
  font-size: 5rem;
  text-align: center;
}
a {
  font-family: "Hind Guntur", sans-serif;
  text-decoration: none;
}
.her {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 5px;
  color: #e47b1e;
}
p {
  font-family: "Yrsa", serif;
  line-height: 1.5rem;
  text-wrap: pretty;
}

@media screen and (min-width: 800px) {
  h2 {
    font-family: "Hind Guntur", sans-serif;
    font-size: 3rem;
    line-height: 5rem;
  }
}
