/*************** RESET *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
body {
  background-image: url(baggrund/baggrund_forside.png);
  background-position: right;
  background-size: cover;
}
.body2 {
  background-image: url(baggrund/baggrund_om_mig.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.body3 {
  background-image: url(baggrund/baggrund_projekter.png);
  background-repeat: no-repeat;
  position: sticky;
  background-size: cover;
}

/**************** MENU ********************/

.flex_menu {
  display: flex;
  background-image: url(billeder/forside_hero.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.flex_menu2 {
  display: flex;
  background-image: url(billeder/forside_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 200px;
}

.flex_menu3 {
  display: flex;
  background-image: url(billeder/projekter_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}

.logo img {
  height: 50px;
  margin: 5px;
}

nav {
  position: absolute;
  right: 5%;
  overflow: hidden;
}

.menu {
  display: none;
}

.forside_menu {
  outline: 2px solid;
  color: #fff;
  border-radius: 0.5rem;
}

/********* BURGER ********/
.burger {
  margin: 20px;
  position: relative;
  display: block;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 99; /* gør så den altid ligger øverst*/
}

.burger .line,
.burger::after,
.burger::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 5px 0;
  transition: 0.2s;
}
.mobil_nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: transparent;
  padding-top: 120px;
  transition: 0.4s;
}

.mobil_nav.is-active {
  left: 0;
}

.mobil_nav a {
  display: block;
  color: white;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .menu {
    margin: 30px;
    display: flex;
    list-style: none;
  }
  .menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
  }
  .menu a:hover {
    color: #000;
  }
  .burger {
    display: none;
  }
  .flex_menu {
    min-height: 650px;
  }
}

/************FOOTER****************/
.footertekst {
  color: #626262;
  text-align: center;
  font-weight: lighter;
  font-size: 0.7rem;
  margin-top: 80px;
}

/********** FORSIDE **************/

.herotext {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: white;
}

.lottiefile {
  margin: 20px;
}

.grid_1-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 0.2rem;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 10px;
}

.img1 {
  width: fit-content;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 50px;
}
.img2 {
  grid-column: 2/4;
  grid-row: 1/4;
  margin-right: 70px;
}
.om_mig {
  grid-column: 4/5;
  grid-row: 2/3;
  writing-mode: vertical-rl; /* rotere teksten 90 grader */
  text-orientation: upright; /* bogstaverne står oprejst */
  white-space: nowrap; /* undgår flere linjer */
  gap: 50px;
  text-decoration: none;
}

.om_mig h3 {
  font-size: 2rem; /* Juster til den ønskede størrelse */
  color: #e47b1e;
}

/**************OM MIG*****************/

.ommig {
  color: #fff;
  margin: 20px;
  margin-top: 80px;
}
.grid_1_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: #e47b1e;
  margin-left: 80px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.img_prik {
  width: fit-content;
}

.right_text {
  text-align: right;
  margin: 20px;
}
.container {
  margin: 20px;
}

.container2 {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.col1 {
  width: 400px;
  margin: 20px;
}
.col2 {
  gap: 20px;
  margin: 20px;
  margin-top: 80px;
  color: #e47b1e;
  line-height: 2rem;
}

.col3 {
  color: #1846d0;
  letter-spacing: 10px;
  line-height: 2rem;
}

.col4 {
  display: grid;
  gap: 0;
  width: 100px;
}

/**************PROJEKTER*****************/

.herotext5 {
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #e47b1e;
}

.img_prik2 {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.tema2 {
  margin-left: 40px;
  margin-right: 40px;
}
.tema3 {
  margin: 20px;
}
.tema4 {
  margin: 20px;
}
.tema5 {
  margin: 20px;
}
.overskrift {
  color: #e47b1e;
}
.p1 {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #1846d0;
  max-width: 65ch;
}
.p2 {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
  max-width: 65ch;
}
.p3 {
  margin-top: 20px;
  margin-bottom: 50px;
  color: #e47b1e;
  max-width: 65ch;
}

@media screen and (min-width: 800px) {
  /************ FORSIDE ************/

  .herotext {
    font-size: 8rem;
    top: 80%;
  }

  .img1 {
    width: 40px;
    margin-left: 250px;
    padding-top: 440px;
  }

  .img2 {
    width: 400px;
  }

  .om_mig {
    padding-top: 80px;
  }
  .om_mig h3 {
    font-size: 4rem;
  }
  /************ OM MIG ************/
  .overskrift_1 {
    text-align: center;
    color: #efff;
    font-size: 8rem;
  }
  .tekst {
    margin-left: 30%;
    text-wrap: pretty;
    width: 50%;
    line-height: 2rem;
    margin-top: 30px;
    max-width: 70ch;
  }
  .h3_text {
    font-size: 3rem;
    margin-left: 30px;
  }
  .right_text {
    font-size: 1.5rem;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
  }

  .container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0px 0px;
  }

  .col2 {
    grid-column: 2/4;
    grid-row: 1/2;
    margin-left: 70px;
    margin-top: 0;
  }

  .col1 {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
  }
  .container2 {
    grid-column: 2/4;
    grid-row: 2/3;
  }

  .col3 {
    color: #1846d0;
    letter-spacing: 20px;
    line-height: 5rem;
    font-size: 1.5rem;
    margin-left: 70px;
  }

  .col4 {
    width: 160px;
    margin-top: 20px;
    gap: 33px;
  }
  /***********PROJEKT**********/

  .herotext5 {
    top: 4%;
    font-size: 8rem;
  }
  .tema2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 70px;
  }
  .tema2_h {
    font-size: 5rem;
    text-align: left;
  }
  .img_prik2 {
    max-width: 100px;
  }

  .tema2 {
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
  }

  .p1 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .p2 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .p3 {
    font-size: 1.2rem;
  }
  .tema3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 70px;
    gap: 30px;
  }
  .tema3_h {
    margin-left: 60px;
    font-size: 15rem;
    text-align: left;
  }
  .tema4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 70px;
    gap: 30px;
  }

  .tema4_h {
    font-size: 5rem;
    text-align: right;
    margin-right: 65px;
  }

  .tema5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 70px;
    gap: 30px;
  }

  .overskrift {
    font-size: 15rem;
    text-align: right;
    margin-left: 70px;
  }
}
